@import 'variables.scss';

.btn {
	padding: 0.8rem 4rem 1rem 4rem;
	border-radius: 4px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	font-family: $font-secondary;
	font-size: $body-font-lg;
	transition: all 0.1s ease;
	width: auto;

	&--primary {
		background: $primary-green;
		color: white;
		border: none;
		
		&:hover {
			background: $secondary-green;
		}
	}

	&--secondary {
		background: white;
		color: $primary-green;

		&:hover {
			background: $light-grey;
		}
	}

	// for links styled as buttons
	&,
	&:hover,
	&:visited,
	&:focus,
	&:active {
		text-decoration: none;
		text-align: center;
	}
}