@import 'variables.scss';

.btn {
	border-radius: 4px;
	cursor: pointer;
	font-family: $font-secondary;
	font-size: $body-font-lg;

	&--primary {
		background: $primary-green;
		padding: 0.8rem 4rem 1rem 4rem;
		color: white;
		border: none;
		box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
		width: 100%;
		transition: all 0.1s ease;
		
		&:hover {
			background: $secondary-green;
		}

		@media (min-width: $breakpoint-sm) {
			width: auto;
		}
	}
}