@import 'variables.scss';

.btn {
	border-radius: 4px;

	&--primary {
		background: $primary-green;
		padding: 0.8rem 2rem;
		font-size: inherit;
		color: white;
		border: none;
		box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
	}
}
