@import 'variables.scss';

.form {

	&__label {
		display: inline-block;
		margin-bottom: 1rem;
		width: 100%;
		font-family: $font-secondary;
		font-size: $body-font-md;

		@media(min-width: 900px) {
			margin-bottom: 0;
			margin-right: 1rem;
			width: auto;
		}
	}

	&__label--subtle {
		opacity: 0.7;
	}

	&__input {
		border: none;
		border-radius: 4px;
		padding: 0.4rem 0.2rem;
		color: $text-dark;
		background: transparent;
		border: 2px solid $secondary-green;
		font-size: inherit;
		font-family: inherit;
		width: 100%;
		display: block;

		@media(min-width: 900px) {
			display: inline-block;
			width: auto;
		}
	}
}
