@import 'variables.scss';

.form {
  display: flex;
  flex-wrap: wrap;

  &__label {
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
    font-family: $font-secondary;
    font-size: $body-font-md;
  }

  &__label--half {
    width: 100%;

    @media (min-width: $breakpoint-sm) {
      width: calc(50% - 1rem);
    }

    & + .form__label--half {
      margin-left: 0;

      @media (min-width: $breakpoint-sm) {
        margin-left: 2rem;
      }
    }
  }

  &__label--subtle {
    opacity: 0.7;
  }

  &__input {
    border: none;
    border-radius: 4px;
    padding: 1rem;
    color: $text-dark;
    background: transparent;
    border: 2px solid $secondary-green;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    display: block;
    margin-top: 1rem;
  }
}
