@import 'variables.scss';

@mixin link-primary {
  &,
  &:visited {
    color: $primary-green;
    text-decoration: none;
  }

  &:hover,
  &:active,
  &:focus {
    color: white;
    text-decoration: none;
  }
}

@mixin link-primary-light-background {
  &:hover,
  &:active,
  &:focus {
    color: $bright-pink;
  }
}