// colors
$primary-green: #4fc08d;
$secondary-green: #3ba776;
$light-grey: #f6f6f6;
$mid-grey: #4f5959;
$dark-grey: #35495d; 
$bright-pink: #ec0561;

// gradients
$gradient-dark: linear-gradient(to bottom, $dark-grey, #22303e);

// text
$text-dark: $dark-grey;
$text-light: white;
$font-main: 'Fira Code', monospace;
$font-secondary: 'Barlow', sans-serif;
$body-font-sm: 1.4rem;
$body-font-md: 1.6rem;
$body-font-lg: 1.8rem;
$h1-size: 28px;

// spacing
$section-padding-mobile: 4rem 1rem;

// breakpoints
$breakpoint-xs: 400px;
$breakpoint-sm: 678px;
$breakpoint-md: 780px;