// colors
$primary-green: #4fc08d;
$secondary-green: #3ba776;
$light-grey: #f6f6f6;
$mid-grey: #4f5959;
$dark-grey: #35495d;

// gradients
$gradient-dark: linear-gradient(to bottom, $dark-grey, #22303e);

// text
$text-dark: $dark-grey;
$text-light: white;
$font-main: 'Fira Code', monospace;