backend:
  name: github
  repo: enjoythevue/website

# when using the default proxy server port
# local_backend: true

publish_mode: editorial_workflow
media_folder: 'static/uploads'
public_folder: '/uploads'

collections:
  - name: 'panelists'
    label: 'Panelists'
    folder: 'panelists'
    create: true
    identifier_field: name
    fields:
      - { label: 'Name', name: 'name', widget: 'string' }
      - { label: 'Website', name: 'website', widget: 'string' }
      - { label: 'Image', name: 'image', widget: 'image' }
  - name: 'sponsors'
    label: 'Sponsors'
    folder: 'sponsors'
    create: true
    identifier_field: sponsor-name
    fields:
      - { label: 'Sponsor name', name: 'sponsor-name', widget: 'string' }
      - { label: 'Sponsor logo', name: 'sponsor-logo', widget: 'image' }
      - { label: 'Sponsor link', name: 'sponsor-link', widget: 'string' }
      - { 
          label: 'Content title', 
          name: 'sponsor-content-title', 
          widget: 'string',
          required: false, 
        }
      - {
          label: 'Content details',
          name: 'sponsor-content-details',
          widget: 'markdown',
          required: false,
        }
      - {
          label: 'Offer code',
          name: 'sponsor-offer-code',
          widget: 'string',
          required: false,
        }
  - name: 'episodes'
    label: 'Episodes'
    folder: 'episodes'
    create: true
    slug: '{{slug}}'
    identifier_field: episode-number
    fields:
      - { label: 'Episode number', name: 'episode-number', widget: 'number' }
      - { label: 'Episode title', name: 'episode-title', widget: 'string' }
      - { label: 'Date published', name: 'date-published', widget: 'datetime' }
      - { label: 'Cover art', name: 'cover-art', widget: 'image' }
      - {
          label: 'RSS link',
          name: 'rss-link',
          widget: 'string',
          default: 'https://feeds.fireside.fm/enjoy-the-vue/rss',
        }
      - { label: 'Audio link', name: 'audio-link', widget: 'string' }
      - label: 'Tags'
        name: 'tags'
        widget: 'list'
        field: {name: tag, label: Tag, widget: string}
      - label: 'Sponsors'
        name: 'sponsors'
        widget: 'list'
        fields:
          - {
              label: 'Sponsor',
              name: 'sponsor',
              widget: 'relation',
              collection: 'sponsors',
              searchFields: ['sponsor-name'],
              valueField: 'sponsor-name',
              displayFields: ['sponsor-name'],
            }
      - label: 'Picks'
        name: 'picks'
        widget: 'list'
        fields:
          - {
              label: 'Person',
              name: 'person',
              widget: 'relation',
              collection: 'panelists',
              searchFields: ['name'],
              valueField: 'name',
              displayFields: ['name'],
            }
          - {
              label: 'Picks',
              name: 'picks',
              widget: 'list',
              fields:
                [
                  { label: 'Title', name: 'title', widget: 'string' },
                  {
                    label: 'Website',
                    name: 'website',
                    widget: 'string',
                    required: false,
                  },
                ],
            }
      - {
          label: 'Shownotes',
          name: 'shownotes',
          widget: 'markdown',
          default: 'Coming soon!',
        }
      - {
          label: 'Transcript',
          name: 'transcript',
          widget: 'markdown',
          default: 'Coming soon!',
        }
